body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: x-large;
    margin: 0;
}

nav {
    margin-top: 1rem; /* Añade un margen superior al navegador */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 2rem;
    text-align: center;
}

section p {
    color: #333;
}

#Nike {
    text-align: left; /* Alinear el texto a la izquierda */
    margin-top: 2rem; /* Añadir un margen superior a la sección */
}

#Nike h3 {
    color: #333; /* Color del título */
}

#Nike p {
    font-size: 1rem; /* Tamaño de fuente para el párrafo */
    line-height: 1.5; /* Altura de línea para el párrafo */
    color: #666; /* Color del texto del párrafo */
}

#Nike img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

#Adidas {
    text-align: left;
    margin-top: 2rem;
}

#Adidas h3 {
    color: #333;
}

#Adidas p {
    font-size: 1rem; /* Tamaño de fuente para el párrafo */
    line-height: 1.5; /* Altura de línea para el párrafo */
    color: #666; /* Col*/
}

#Adidas img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

#Converse {
    text-align: left;
    margin-top: 2rem;
}

#Converse h3 {
    color: #333;
}

#Converse p{
    font-size: 1rem; /* Tamaño de fuente para el párrafo */
    line-height: 1.5; /* Altura de línea para el párrafo */
    color: #666; /* Col*/
}
#Converse img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

#New_Balance {
    text-align: left;
    margin-top: 2rem;
}

#New_Balance h3 {
    color: #333;
}

#New_Balance p {
    font-size: 1rem; /* Tamaño de fuente para el párrafo */
    line-height: 1.5; /* Altura de línea para el párrafo */
    color: #666; /* Col*/
}
#New_Balance img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

#Reebok {
    text-align: left;
    margin-top: 2rem;
}

#Reebok h3 {
    color: #333;
}

#Reebok p {
    font-size: 1rem; /* Tamaño de fuente para el párrafo */
    line-height: 1.5; /* Altura de línea para el párrafo */
    color: #666; /* Col*/
}
#Reebok img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: fixed; /* Fija el footer en la parte inferior de la ventana del navegador */
    bottom: 0; /* Coloca el footer al final de la ventana del navegador */
    left: 0; /* Asegura que el footer comience desde el borde izquierdo */
    z-index: 100; /* Ajusta el índice z para que esté por encima de otros elementos */
}