body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: x-large;
    margin: 0;
}

nav {
    margin-top: 1rem; /* Añade un margen superior al navegador */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 2rem;
    text-align: center;
    color:#444
}

#Nike_Jordan_1 {
    text-align: left; /* Alinear el texto a la izquierda */
    margin-top: 2rem;
}

#Adidas_Superstar {
    text-align: left; /* Alinear el texto a la izquierda */
    margin-top: 2rem;
}

#Converse_All_Star {
    text-align: left; /* Alinear el texto a la izquierda */
    margin-top: 2rem;
}

#New_Balance_574 {
    text-align: left; /* Alinear el texto a la izquierda */
    margin-top: 2rem;
}

#Reebok_Classic_Leather {
    text-align: left; /* Alinear el texto a la izquierda */
    margin-top: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
}
