html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    background-image: url(''); /* Ruta a la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative; /* Para posicionar el botón de login */
}

header h1 {
    font-size: x-large;
    margin: 0;
}

header .login-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-decoration: none;
    background-color: #555;
    padding: 10px 15px;
    border-radius: 5px;
}

header .login-button:hover {
    background-color: #777;
}

#nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenedor ocupa toda la altura de la pantalla */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Cambia a flex para poner los elementos en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 1rem; /* Espacio entre elementos */
}

nav ul li {
    margin: 0 10px; /* Ajusta el margen para que los elementos tengan espacio entre ellos */
}

nav ul li a img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
}

nav ul li a img:hover {
    transform: scale(1.1);
}

section {
    padding: 2rem;
    text-align: center;
    flex-grow: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
}
